<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975781771999-t732qs0m69nci9bmohr1ap1u9mnd0a25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975781771999-t732qs0m69nci9bmohr1ap1u9mnd0a25</string>
	<key>API_KEY</key>
	<string>AIzaSyDjl_TJKvpCNJociSvUGSr6UXI8qZaohh4</string>
	<key>GCM_SENDER_ID</key>
	<string>975781771999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.argu</string>
	<key>PROJECT_ID</key>
	<string>argu-f6e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>argu-f6e8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975781771999:ios:78bd5afbd4096b6d95076a</string>
</dict>
</plist>